@import '@/styles/_variables.scss';

.box {
  background: $heavier-grey;
  border-width: 0px 6px 8px 0px;
  border-style: solid;
  border-color: $border-color;
  border-radius: $border-large-radius;
  padding: 0px 32px;
}

.wrapper {
  padding: 40px 0;
}

.title {
  font-size: 14px;
  line-height: 19px;
  color: #70707c;
  margin-bottom: 4px;
}

.info {
  font-size: 32px;
  font-weight: 700;
  color: $white;
}

.subtitle {
  font-size: 12px;
  line-height: 16px;
  color: $primary-color;
}

.statBox {
  ul {
    padding-left: 0;

    li {
      list-style-type: none;
      display: inline-block;
      margin-right: 80px;
    }
  }
}
