@import '@/styles/_variables.scss';

.vaultType {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 6px 12px;
    font-size: 20px;
    border-radius: $border-small-radius;

    &:hover {
        background-color: $heavy-grey;
    }

    .logoWrapper {
        width: 32px;
        height: 32px;
        background-color: #fff;
        padding: 4px;
        border-radius: 20px;
    }
}

.container {
    width: 98%;
    max-width: 684px;
    margin: 0 auto;
    background: $heavier-grey;
    border: 1px solid $grey;
    border-radius: $border-normal-radius;
    padding: 40px 32px;
    margin-top: calc(150px - $page-top-margin);
}

.typeWrapper {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    column-gap: 32px;
}

.vaultTypeList {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}

.title {
    margin-bottom: 40px;
    font-size: 28px;
}