@import '@/styles/_variables.scss';

.header {
    padding: 13px 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(9, 9, 9, 0.6);
    border-bottom: 1px solid #1D1D1F;
    backdrop-filter: blur(12px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}