@import '@/styles/_variables.scss';

.header {
    padding: 0 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(9, 9, 9, 0.6);
    border-bottom: 1px solid $border-color;
    backdrop-filter: blur(12px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $navbar-height;
}