@import '@/styles/_variables.scss';

.sidebar {
    position: fixed;
    left: 0;
    top: $navbar-height;
    bottom: 0;
    width: $sidebar-width;
    border: 1px solid $border-color;
    padding-top: $page-top-margin;

    .menu {
        padding-left: 48px;

        li {
            margin-bottom: 40px;
            position: relative;
            padding-left: 36px;
        }

        .linkActive a {
            color: $white;
            font-weight: 600;
        }

        .menuLogo {
            position: absolute;
            width: 24px;
            margin-right: 12px;
            vertical-align: middle;
            left: 0px;
            top: -4px;
        }
    }
}