.react-datepicker__input-container input {
    background: none;
    font-size: 14px;
    color: var(--white);
}

.react-datepicker-wrapper {
    width: 80px;
}

.react-datepicker__input-container input:focus-visible {
    outline: none;
}