@import '_variables.scss';

%btn {
    padding: 10px 16px;
    font-size: 14px;
    border-radius: $normal-border-radius;
    color: $white;
    display: inline-block;
    cursor: pointer;
    background-color: $heavy-grey;

    &:hover {
        background-color: $primary-color;
    }
}