/* Main colors
========================================================================== */

$white: #F5F5FF;
$black: #0A0A0A;
$grey: #70707C;
$light-grey: #E3E4E7;
$primary-color: #4844FF;
$heavy-grey: #1D1D1F;
$heavier-grey: #101011;
$green: #15ffab;
$red: #fd4438;

$border-color: $heavy-grey;

/* Layout styles
========================================================================== */

$body-background: #000;
$section-space: 165px;
$navbar-height: 66px;
$sidebar-width: 288px;
$page-top-margin: 56px;
$body-horizontal-margin: 48px;

/* Other styles
========================================================================== */

$border-small-radius: 8px;
$border-normal-radius: 8px;
$border-large-radius: 16px;
$padding-small: 8px;
$padding-medium: 16px;

/* Responsive
========================================================================== */

$screen-sm: 480px;

// Small tablets (portrait view)
$screen-md: 768px;

// Tablets and small desktops
$screen-lg: 992px;

// Large tablets and desktops
$screen-xl: 1200px;