@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
}

@layer components {
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-unit-blue to-unit-orange;
  }

  .bgd-gradient {
    @apply bg-gradient-to-r from-unit-blue to-unit-orange text-[#ffffff];
  }

  .bgd-gradient-light {
    @apply bg-gradient-to-r from-unit-blue/10 to-unit-orange/10;
  }
}

.min-h-screen {
  min-height: calc(100vh - theme(space.16))
}

:root {
  /* Your default theme */
  --background-color: #151718;
  --gray: #A2A2A2;
  --gray-dark: #1D1D1F;
  --gray-darker: #101011;
  --gray-light: #E3E4E7;
  --gray-lighter: #aab0b8;
  --text-color: #FFFFFF;
  --text-light: #F9F9F9;
  --white: #ffffff;
  --gray-medium: #565657;
  --gray-border: #2D2D2D;
  --input: #222222;
  --gray-border-light: #191A1C;
  --box: rgba(29, 29, 31, 0.8);
  --shadow: rgba(255, 255, 255, 0.2);
}

[data-theme='light'] {
  --background-color: #FFFFFF;
  --gray: #1D1D1F;
  --gray-dark: #e4e4e4;
  --gray-darker: #efefee;
  --gray-light: #1c1b18;
  --gray-lighter: #554f47;
  --text-color: #0a0a00;
  --text-light: #060606;
  --gray-medium: #565657;
  --white: #000000;
  --gray-border: #d6d6d0;
  --input: #E4E4E4;
  --gray-border-light: #F5F5F5;
  --box: rgba(239, 239, 239, 0.6);
  --shadow: rgba(0, 0, 0, 0.2);
}