@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
}

:root {
  /* Your default theme */
  --background-color: #151718;
  --gray: #A2A2A2;
  --gray-dark: #1D1D1F;
  --gray-darker: #101011;
  --gray-light: #E3E4E7;
  --gray-lighter: #aab0b8;
  --text-color: #FFFFFF;
  --text-light: #F9F9F9;
  --white: #ffffff;
  --gray-border: #2D2D2D;
  --input: #222222;
  --box: rgba(29, 29, 31, 0.8);
}

[data-theme='light'] {
  --background-color: #F5F5FF;
  --gray: #1D1D1F;
  --gray-dark: #cccccc;
  --gray-darker: #efefee;
  --gray-light: #1c1b18;
  --gray-lighter: #554f47;
  --text-color: #0a0a00;
  --text-light: #060606;
  --white: #000000;
  --gray-border: #d6d6d0;
  --input: #E4E4E4;
  --box: rgba(239, 239, 239, 0.6);
}