@import '_variables.scss';

body {
  background-color: $black;
  margin: 0;
  font-size: $text-body;
  color: $white;
}

a {
  color: $grey;
  text-decoration: none;

  &:hover {
      color: $white;
  }
}

.primary-color {
  color: $primary-color;
}

li {
  list-style-type: none;
}

.page-title {
  font-size: $text-lg;
}

.grey {
  color: $grey;
}

.white {
  color: $white;
}

.primary-color {
  color: $primary-color;
}

.text-sm {
  font-size: $text-sm;
}

.text-md {
  font-size: $text-md;
}

.text-lg {
  font-size: $text-lg;
}

.text-xl {
  font-size: $text-xl;
}

.text-center {
  text-align: center;
}