@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
}

:root {
  /* Your default theme */
  --background-color: #0A0A0A;
  --header-background-color: rgba(9, 9, 9, 0.6);
  --gray: #70707C;
  --gray-dark: #1D1D1F;
  --gray-darker: #101011;
  --gray-light: #E3E4E7;
  --gray-lighter: #aab0b8;
  --text-color: #F5F5FF;
  --text-light: #F9F9F9;
  --white: #ffffff;
  --gray-border: #29292F;
}

[data-theme='light'] {
  --background-color: #F5F5FF;
  --header-background-color: rgba(246, 246, 246, 0.6);
  --gray: #8f8f83;
  --gray-dark: #cccccc;
  --gray-darker: #efefee;
  --gray-light: #1c1b18;
  --gray-lighter: #554f47;
  --text-color: #0a0a00;
  --text-light: #060606;
  --white: #000000;
  --gray-border: #d6d6d0;
}