@import '_variables.scss';

body {
  background-color: $black;
  margin: 0;
  font-size: 18px;
  color: $white;
}

a {
  color: $grey;
  text-decoration: none;

  &:hover {
      color: $white;
  }
}

.primary-color {
  color: $primary-color;
}

li {
  list-style-type: none;
}